<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% if page.title %}{{ page.title }} – {% endif %}Élections 2013 Mali</title>
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/buttons.css" type="text/css">
	<link rel="stylesheet" href="/static/css/odml.css" type="text/css" />
	<link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABlUlEQVQ4ja3MPUhbYRjF8QOFQqCloImNH/nimkiMqAjikA6mFoWgRKNSEj9JqZOLGIQM3jZdpHToltRS1MkMohaKS2mXdtLRUUgqaLA0F1ToeC/H5fJe3jgFfeDHM50/cA/3EEAdAGeN6swtHPH9t6xmXI1IyvGXtwBwAIA3trtK9feWxPifkVTULCtqlpr6jhU1y/PYBAF4AUCJ7mS49DPHuYP3gnGdpHGdMCV5MfdK+LeU5lk0RgAKACgD22mmDj5wbFcVjKuopDw2KfxNLfB0YMgKhDcXObqn8nkhzUhhmZHCMvXLMPXLZ+YP8ywyKJRHJ3kS7rcCPfnX7NpYoO/TtKBrTZKSr0047erlcU+fFQh+nGLoS4qefFLQtaeSoscvlELdPAx2WgHf2jgDn+fpyiUEXXNIii5F+BPo4C9fwAo0vxmmf32W7lxC0CsNkqK7VSj5Q/ze7LUC9swglfUZia61SEpKUPLN3igCrvqVF6x29OOx5Gu98xYALgB4AqAdQF+N2s0tHgCwAXhUI5u5vdvdAPQGitTMANI9AAAAAElFTkSuQmCC" />
</head>
<body class="{{ page.id }}" lang="fr-FR">
<header>
<h1>Élections Mali 2013</h1>
</header>
<div class="content">